{% extends 'layout.html.twig' %}

        {% block stylesheets %}
            {{ parent() }}
            <link href="{{ asset("css/Delivery/addForm.css") }}" rel="stylesheet">
        {% endblock %}


{# on import les block template afin de les completer  #}
{% block header %}
    {{ parent() }}
    Delivery</h1></header>
{% endblock %}
{# #}
{% block content %}

    <a href="/delivery/micro-services/public/delivery"> Retour</a>

    <form method="post" action="/delivery/micro-services/public/delivery/addtest">

        <div class="wrap">

    <span class="ParcelNumber">
        <label>N° du Colis</label>
        <input type="text" name="parcelnumber" placeholder="N° du Colis">
    </span>

            <span class="Longitude">
        <label>Longitude</label>
        <input type="number" step="any" name="longitude" placeholder="Longitude" required>
    </span>

            <span class="Latitude">
        <label>Latitude</label>
        <input type="number" step="any" name="latitude" placeholder="Latitude" required>
    </span>


            <span class="submit">
        <input type="submit" value="Envoyer" name="SubmitForm">
    </span>

        </div>
    </form>

{% endblock %}