{% extends 'layout.html.twig' %}
{# on import les block template afin de les completer  #}
{% block header %}
    {{ parent() }}
    <h1 class="title">Delivery</h1>
    </header>
{% endblock %}
{# #}
{% block content %}
    <form method="post" action="/delivery/micro-services/public/delivery/addtest">

        <div>

    <span>
        <label>N° du Colis</label>
        <input type="text" name="parcelnumber" placeholder="N° du Colis">
    </span>

            <span>
        <label>Longitude</label>
        <input type="text" name="longitude" placeholder="Longitude">
    </span>

            <span>
        <label>Latitude</label>
        <input type="text" name="latitude" placeholder="Latitude">
    </span>


            <span>
        <input type="submit" value="send" name="SubmitForm">
    </span>

        </div>
    </form>

{% endblock %}