{% extends 'layout.html.twig' %}

        {% block stylesheets %}
            {{ parent() }}
            <link href="{{ asset("css/Delivery/index.css") }}" rel="stylesheet">
        {% endblock %}

{% block body %}
    {% block header %}
        {{ parent() }}
        Delivery</h1>
        </header>
    {% endblock %}
    {% block content %}

        <form method="get" action="/TESTProjet/Microservice/public/Delivery/parcelnumber">


    <div class="wrap">
        <div class="search">
            <input name="parcelnumber" type="text" class="searchTerm" placeholder="N° de colis">
            <button type="submit" class="searchButton">
            <img src="{{ asset("img/search.png") }}">
            </button>
        </div>
    </div>

    {#<input name="parcelnumber" type="text" placeholder=" N° de colis" maxlength="10">
    <input type="submit" value="Trouver">#}

</form>

        <a href="/TESTProjet/Microservice/public/Delivery/new"> Ajouter une position</a>



    {% endblock %}
{% endblock %}