{% extends 'layout.html.twig' %}
    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="{{ asset('eventclient/EventClient.js') }}"></script>
    {% endblock %}
    {% block stylesheets %}
        {{ parent() }}
        <link href="{{ asset('css/Event/event.css') }}" rel="stylesheet" type="text/css"/>
    {% endblock %}
{% block body %}
    {% block header %}
        {{ parent() }}
        Event</h1>
        </header>
    {% endblock %}

    {% block content %}
        <div class="inputfield">
            <br>
            Date: <input type="date" id="jour_input">Email: <input type="text" id="email">
            <button id="getevent" onclick="ListEvents()">Récupèrer les événements</button>
        </div>
        <p id="demo"><br></p>
        <div class="modes">
            <input type="radio" name="action" id="update" onclick="if(this.checked){UpdateWindow()}">Modifier un
            Event<input type="radio" name="action" id="delete" onclick="if(this.checked){DeleteWindow()}">Supprimer un
            Event<input type="radio" name="action" id="add" onclick="if(this.checked){AddWindow()}">Ajouter un Event
        </div>
        <div id="deletewindow" style="display: none" class="window">
            ID de l'événement à supprimer : <input type="text" id="id_d">
            <br>
            <br>
            <button id="removeevent" onclick="RemoveEvent()">Supprimer un event</button>
        </div>
        <div id="updatewindow" style="display: none" class="window">
            Id de l'événement à modifier: <input type="text" id="id_u">
            <br>
            Jour : <input type="date" id="day">
            <br>
            Heure : <p class="time"><input type="number" id="hour" value="00">:<input type="number" id="min" value="00">:<input
                        type="number" id="sec" value="00"></p>
            <br>
            Description : <input type="text" id="label">
            <br>
            Répétition : <input type="number" id="repeat">
            <br>
            <br>
            <button id="updateevent" onclick="UpdateEvent()">Modifier un event</button>
        </div>
        <div id="addwindow" style="display: none" class="window">
            Jour : <input type="date" id="day_n">
            <br>
            Heure : <p class="time"><input type="number" id="hour_n" value="00">:
                <input type="number" id="min_n" value="00">:
                <input type="number" id="sec_n" value="00"></p>
            <br>
            Description : <input type="text" id="label_n">
            <br>
            Repétition : <input type="number" id="repeat_n">
            <br>
            <br>
            <button id="addevent" onclick="AddNewEvent()">Ajouter un event</button>
        </div>
    {% endblock %}
{% endblock %}