{% extends 'layout.html.twig' %}
    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="{{ asset('eventclient/EventClient.js') }}"></script>
    {% endblock %}

{% block body %}
    {% block header %}
        {{ parent() }}
        Event</h1>
        </header>
    {% endblock %}

    {% block content %}
        <h1>Acceuil</h1>
        <br>
        <a href="fetchevent">Lister évenements</a>
        <br>
        Email:<input type="text" id="email">
        <br>
        Jour:<input type="date" id="day">
        <br>
        Heure:<input type="number" id="hour">:<input type="number" id="min">:<input type="number" id="sec">
        <br>
        Description:<input type="text" id="label">
        <br>
        Repétition:<input type="text" id="repeat">
        <br>
        <button id="addevent">Ajouter un évenement</button>
        <p id="demo"></p>

    {% endblock %}
{% endblock %}