{% extends 'layout.html.twig' %}


{% block body %}
    {% block header %}
        {{ parent() }}
        <h1 class="title">Event</h1>
        </header>
    {% endblock %}
    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="{{ asset('eventclient/EventClient.js') }}"></script>
    {% endblock %}
    {% block content %}
        <h1>Acceuil</h1>
        <br>
        <a href="add">Ajouter</a>
        <br>
        <a href="home">Acceuil</a>
        <br>
        <a href="fetchevent">Recupèrer évenements</a>
    {% endblock %}
{% endblock %}