{% extends 'layout.html.twig' %}

{% block body %}
    {% block header %}
        {{ parent() }}
        Event</h1>
        </header>
    {% endblock %}
    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="{{ asset('eventclient/EventClient.js') }}"></script>
    {% endblock %}
    {% block content %}
        <h1>Recuperer evenement</h1>
        <br>
        <a href="home">Acceuil</a>
        <br>
        <a href="debug">Debugage</a>
        <br>
        <a href="fetchevent">Recupèrer évenements</a>
        <br>
        <input type="text" id="email_for_fetch">
        <button id="getevent">Récupèrer Event</button>


    {% endblock %}
{% endblock %}