{% extends 'layout.html.twig' %}
    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="{{ asset('eventclient/EventClient.js') }}"></script>
    {% endblock %}
{% block body %}
    {% block header %}
        {{ parent() }}
        <h1 class="title">Event</h1>
        </header>
    {% endblock %}

    {% block content %}
        <h1>Lister Evenements</h1>
        <br>
        <a href="add">Ajouter Évenement</a>
        <br>
        <input type="text" id="email">
        <button id="getevent">Récupèrer les événements associés à cet email</button>
        <p id="demo"></p>
        <input type="radio" name="action" id="update">Modifier un Event<input type="radio" name="action" id="delete">Supprimer un Event
    {% endblock %}
{% endblock %}